<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/main.js"></script>
    </head>

    <body>
        <h1>Synthesizers</h1>
        <a href="https://www.redbull.com/gb-en/how-to-buy-modular-synth.com"><img
                src="https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2019/01/04/b3fce7b3-a7a5-44a4-bc2f-e616b187f70b/richard-devine-modular-synth" /></a>
        <p>The process of building soundwaves from electric signal, ideally with as many overly-complicated intermediate
            steps as possible (as seen above)</p>
        <input id="nameInput" type="text" value="Add your name">
        <button id="button">CLICK ME</button>
        <h2>Guestlist</h2>
        <list id="guestList">
    
        </list>
    </body>
</html>